<h2>Olá {{ name }} </h2>
<p>
    Você solicitou uma troca de email, caso queira prosseguir clique no link abaixo:
</p>
<p>
<a href="{{ Url }}" target="_blank">Trocar email.</a>
</p>
<p>
    Caso não tenha sido você a solicitar, favor descartar o email.
</p>