<h2>Olá {{ name }} </h2>
<p>
    Você solicitou uma recuperação de senha, caso queira prosseguir clique no link abaixo:
</p>
<p>
<a href="{{ Url }}" target="_blank">Recuperar senha.</a>
</p>
<p>
    Caso não tenha sido você a solicitar, favor descartar o email.
</p>